footer.m_footer
  .top-panel
    .wrapper
      .label Работайте с нами и зарабатывайте больше
      .actions
        .signin
          a(class="btn btn-orange" href="#") Стать водителем
        .signup
          a(class="btn btn-white" href="#") Войти
  .bottom-panel
    .wrapper
      .row
        .info
          .contacts
            .copy © wo.taxi 2016 - 2017
            .tel Телефон: <span>8 (804) 333-04-16</span>
            .email Email: <a href="#">info@wo.taxi</a>
          .user-action
            .callback: a(class="btn btn-modal btn-white" href="#modal-callback") Обратный звонок
            .socials
              span Мы в соц. сетях:
              a(class="fb" href="#")
              a(class="vk" href="#")
              a(class="ok" href="#")
        .nav
          .col
            .title Компания
            ul
              li: a(href="#") О компании
              li: a(href="#") Блог
              li: a(href="#") Вакансии
              li: a(href="#") Форум
              li: a(href="#") Контакты
              li: a(href="#") Центр помощи
          .col
            .title Подключиться к такси
            ul
              li: a(href="#") Для новых водителей
              li: a(href="#") Для действующих водителей
          .col
            .title Топливные карты
            ul
              li: a(href="#") Топливные карты
              li: a(href="#") Как пользоваться
              li: a(href="#") Получение ТК
        .search
          form
            input(type="text" placeholder="Поиск по сайту")
            button(type="submit")
      .row
        .logo: a(href="#"): img(src="images/logo-footer.png" alt="")
        .developed Разработка сайта <a target="_blank" href="#">«Пикмедиа»</a>
