// Sprite size
$sprite = 200px 300px

// Custom
$radius = 3px

// Colors
$sky = #00b7f4
$blue = #1d5d8b
$orange = #ea5b2e
// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"
