-
  var pluses  = [
    {
      img: 'images/plus/1.png',
      desc: 'Безналичный заработок доступен сразу после поездки'
    },
    {
      img: 'images/plus/2.png',
      desc: 'Единый баланс по всем подключенным сервисам такси'
    },
    {
      img: 'images/plus/3.png',
      desc: 'Ежедневный и еженедельный вывод денег на банковскую карту'
    },
    {
      img: 'images/plus/4.png',
      desc: 'Экономия на комиссии партнёра (до 10%)'
    },
    {
      img: 'images/plus/5.png',
      desc: ' Сотрудничество строго в рамках законодательства с заключением договора'
    },
    {
      img: 'images/plus/6.png',
      desc: 'Возможность заправить автомобиль в любой момент по топливной карте на таких известных АЗС, как Газпромнефть, Роснефть (ТНК, BP, Башнефть)'
    }
  ]

-
  var team = [
    {
      img: '1.jpg',
      name: 'Андрей Владимирович Встанькинский'
    },
    {
      img: '2.jpg',
      name: 'Евгений Васильевич Беззубов'
    },
    {
      img: '3.jpg',
      name: 'Ольга Петровна Наумова'
    },
    {
      img: '4.jpg',
      name: 'Иван Иванович Пржевальский'
    },
    {
      img: '5.jpg',
      name: 'Дмитрий Олегович Евтушенко'
    },
    {
      img: '6.jpg',
      name: 'Александра Олеговна Гришко'
    }
  ]

-
  var join  = [
    {
      img: 'images/join/1.png',
      desc: 'Заправка по топливным картам с Вашего баланса'
    },
    {
      img: 'images/join/2.png',
      desc: 'Общий баланс для всех сервисов такси'
    },
    {
      img: 'images/join/3.png',
      desc: 'Общий баланс для всех сервисов такси'
    },
    {
      img: 'images/join/4.png',
      desc: 'Покупка товаров (Продукты, Автохимия, Кафе) на АЗС, мойка и шиномонтаж'
    },
    {
      img: 'images/join/5.png',
      desc: 'Заработок выше на 10% и более по сравнению с другими партнерами'
    },
    {
      img: 'images/join/6.png',
      desc: 'Пополнение баланса через Сбербанк-Онлайн и терминалы Сбербанк'
    }
  ]