extends ../modules/layout/layout.jade

block title
  title Новость

block data
  include ../static/content/_home.jade

block content
  .page-container.blue
    main.article
      .m_breadcrumbs
        ul
          li: a(href="#") Главная
          li: a(href="#") Наш блог
          li: a(href="#") Заголовок записи
      .page-title
        h2 Заголовок записи

      .lead-paragraph
        img(src="images/article-full.png" alt="")
        p Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
      article
        p Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
        p Wialon OIL дает возможность значительно повысить управляемость транспортом Вашей организации, а также существенно сократить издержки на его содержание. Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
        p Wialon OIL дает возможность значительно повысить управляемость транспортом Вашей организации, а также существенно сократить издержки на его содержание. Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
        p Wialon OIL дает возможность значительно повысить управляемость транспортом Вашей организации, а также существенно сократить издержки на его содержание.
        .share
          <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
          <script src="//yastatic.net/share2/share.js"></script>
          <div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir" data-counter=""></div>
        .backward: a(href="#") Вернуться в раздел
      .m_similar-articles
        .title Смотрите также
        .list
          .item
            .image: a(href="#" style="background-image: url('images/news-item-1.jpg')")
            .desc
              .post-date 20 марта 2017
              .title: a(href="#") Заголовок название новостей записи
          .item
            .image: a(href="#" style="background-image: url('images/news-item-2.jpg')")
            .desc
              .post-date 20 марта 2017
              .title: a(href="#") Заголовок название новостей записи
          .item
            .image: a(href="#" style="background-image: url('images/news-item-3.jpg')")
            .desc
              .post-date 20 марта 2017
              .title: a(href="#") Заголовок название новостей записи