extends ../modules/layout/layout.jade

block title
  title Требования для подключения

block data
  include ../static/content/_home.jade

block content
  .page-container.blue
    main.article
      .m_breadcrumbs
        ul
          li: a(href="#") Главная
          li: a(href="#") Подключиться к такси
          li: a(href="#") Внутренняя страница
      .page-title
        h2 Требования для подключения
      .m_categories-nav
        ul
          li: a(class="btn" href="#") Подрядок действий при подключении
          li: a(class="btn" href="#") Необходимые документы
          li: a(class="btn" href="#") Требования для подключения
      .lead-paragraph
        p Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
      article
        p Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
        p Wialon OIL дает возможность значительно повысить управляемость транспортом Вашей организации, а также существенно сократить издержки на его содержание. Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
        p Wialon OIL дает возможность значительно повысить управляемость транспортом Вашей организации, а также существенно сократить издержки на его содержание. Wialon OIL объединяет в себе все преимущества использования системы мониторинга транспорта и топливных карт, а также предлагает Клиентам уникальные возможности контроля над махинациями с топливом и своевременного оповещения о нелегальных действиях водителей.
        p Wialon OIL дает возможность значительно повысить управляемость транспортом Вашей организации, а также существенно сократить издержки на его содержание.
        .backward: a(href="#") Вернуться в раздел