extends ../modules/layout/layout.jade

block title
  title Вакансия

block data
  include ../static/content/_home.jade

block content
  .page-container.blue
    main
      .m_breadcrumbs
        ul
          li: a(href="#") Главная
          li: a(href="#") О нас
      .m_categories-nav
        ul
          li: a(class="btn" href="#") Команда
          li: a(class="btn" href="#") Центр помощи
          li: a(class="btn" href="#") Контакты
      .page-title
        h2 Помощник специалиста <br>по охране труда
      article
        .m_vacancy-panel
          .row
            .column
              .label Уровень зарплаты:
              .value до 100 000 руб.
            .column
              .label Требуемый опыт работы:
              .value 1–3 года
            .column
              .label Город:
              .value Санкт-Петербург, Обводный Канал
        p Компания может быть успешна ровно настолько, насколько успешны и профессиональны ее сотрудники. Благодаря нашим менеджерам по продажам компания «Кемилайн Групп» заняла ведущие позиции на рынке профессиональной эксплуатационной химии.
        p Мы открываем новый проект и на конкурсной основе проводим отбор и обучение кандидатов на должность "Менеджер по работе с корпоративными клиентами". <br>Желающих поработать в компании 2-3 года просьба не беспокоится.
        h5 Требования:
        ul
          li Наличие водительских прав и личного автомобиля
          li Высшее образование (техническое приветствуется)
          li Опыт ведения переговоров с руководителями предприятий (желателен)
          li Опыт продаж на крупные промышленные предприятия (желателен)
          li Умение добиваться результата (мы оцениваем объём ваших личных продаж)
          li Самостоятельность (мы хотим работать с теми, кого не нужно контролировать)
          li В обязанности менеджера по работе с корпоративными клиентами входит:
          li Поиск новых клиентов, развитие и поддержание клиентской базы
          li Проведение презентаций продукции, переговоров и заключение договоров с промышленными предприятиями
          li Сопровождение заказов (помощь в выборе продукции, технические консультации, контроль оплат и отгрузок)
        h5 Условия:
        p Возможность неограниченного заработка: на испытательный срок оклад 35000+ % с оборота (доход среднего Менеджера по работе с клиентами в месяц 50000-70000 руб. лучших - 150000-300000 руб.)
        p Профессиональное обучение технологии продаж и личный наставник на весь период адаптации
        p Профессиональный и карьерный рост
        p Оформление по ТК (гарантированный соц.пакет + ДМС + корпоративная пенсионная программа)
        h5 А также:
        p Большую самостоятельность в планировании своей работы
        p Отсутствие необходимости ежедневного прибытия в офис и массу других приятных «бонусов», которые сделают вашу работу комфортной и эффективной
        .m_form-article
          form
            .title Откликнуться
            .form-row
              label
                input(type="text" placeholder="Как Вас зовут?" required)
                .icon.username
            .form-row
              label
                input(type="tel" placeholder="Ваш телефон" required)
                .icon.usertel
            .form-row
              label
                input(type="email" placeholder="Ваш email" required)
                .icon.useremail
            .form-row
              .attach-file
                label
                  .border
                    input(type="file")
                    .icon.userfile
                    .btn-inp Добавить резюме
                    .btn-txt Файл не найден
            .form-row
              label
                textarea(placeholder="Текст сообщения")
                .icon.usermessage
            .form-row
              button(type="submit" class="btn btn-orange") Отправить заявку