// Sidebar panel
.m_sidebar-panel
  .scroll
    .header
      .top
        .contacts
          .tel 8 (804) 333-04-16
          .callback: a(class="btn-modal" href="#modal-callback"): span Обратный звонок
      .bottom
        .main-menu
          a(class="btn-burger is-open" href="#")
            span
        .logo: a(href="#")
        .actions
          .signup: a(class="btn btn-white" href="#") Войти
    .body
      .actions
        .signin: a(class="btn btn-orange" href="#") Стать водителем
      .user-locate
        .locate-result
          span.label Регион:
          span.value: a(href="#"): span Санкт-Петербург
      .catalog
        h3 Подключиться к такси
        ul
          li: a(href="#") Для новых водителей
          li: a(href="#") Для новых водителей
        h3 Преимущества
        h3 Топливные карты
        ul
          li: a(href="#") Как пользоваться
          li: a(href="#") Получение ТК
        h3 Компания
        ul
          li: a(href="#") О компании
          li: a(href="#") Блог
          li: a(href="#") Вакансии
          li: a(href="#") Форум
          li: a(href="#") Контакты
          li: a(href="#") Центр помощи
      .search
        form
          input(type="text" placeholder="Поиск по сайту")
          button(type="submit")
