.m_categories-nav
  text-align center
  margin-bottom 15px
  li
    display inline-block
    vertical-align middle
    margin-left 5px
    margin-right 5px
    margin 5px
    a
      background #edf1f2
      color $blue
      &:hover,
      &.current
      &.btn-white:hover,
      &.btn-white.current
        background $blue
        color #fff
      &:active
        background $blue - 15%
