.expansion-panel
  box-shadow: 0 0 5px 1px rgba(66,72,74,0.2);
  li
    &.is-filtred
      display none
    &.is-active
      display block
    &:first-child
      .ep-header
        border-radius $radius $radius 0 0
    &:last-child
      .ep-header
        border-radius 0 0 $radius $radius
        &.is-open
          border-radius 0
      .ep-body
        border-radius 0 0 $radius $radius
    .ep-header
      anim()
      sn()
      exo()
      background #fff
      color $blue
      padding 15px 30px
      cursor pointer
      position relative
      border-bottom 1px solid #e1e1e1
      font-size 18px
      line-height 1.2
      @media XS
        padding-left 50px
        padding-right 50px
      @media LG
        padding 20px 60px
      &:after
        @media XS
          content ''
          background: url('../images/faq.png') no-repeat 0 0;
          width: 24px;
          height: 24px;
          position absolute
          left 15px
          top 50%
          margin-top -12px
        @media LG
          left 25px
      &:hover
        background #f2fafc
      &.is-open
        background #f2fafc
        color #000
        border-color #f2fafc
        &:after
          background-position 0 -28px
    .ep-body
      display none
      background #f2fafc
      padding 0px 50px 30px 50px
      border-bottom 1px solid #e1e1e1
      font-size 14px
      line-height 24px
      @media LG
        padding-left 60px
        padding-right 60px
      img
        max-width 100%
      p
        &:last-child
          margin-bottom 0