.m_faq-nav
  position relative
  text-align center
  margin-bottom 15px
  h3
    font-weight normal
    font-size 24px
    margin-bottom 15px
    @media MD
      font-size 36px
  .m_categories-nav
    max-width 650px
    margin 0 auto